header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo span {
  margin-left: 10px;
}

nav {
  display: inline-flex;
  align-items: center;
}

nav span {
  margin: 10px;
}
